/*=============UNIVERSALS=============*/
.center {
  text-align: center;
}

/*==============HEADER==============*/
.headerback {
  background-color: #abbeca;
  height: 210px;
}

#logo {
  background-color: #7f898c;
  height: 200px;
}

#nav {
  background-color: #7f898c;
  height: 200px;
}

/*===========SIDEBAR=================*/
.side {
  background-color: #7f898c;
  height: 500px;
}

.title {
  background-color: #000;
  color: #fff;
}

/*===========MAIN==============*/
.main {
  background-color: #000;
  height: 500px;

}

/*==========FOOTER===============*/
.socialmedia {
  background-color: #000;
  height: 100px;
}

.aboutfooter {
  background-color: #ebebeb;
  height: 100px;
}


.happy-bunnies {
  height: 300px;
  background-color: yellow;
  width: 40%;
}

.sad-bunnies {
  height: 200px;
  background-color: blue;
}

.okay-bunnies{
  height: 300px;
  background-color: green;
}

.one {
  height: 200px;
  background-color: pink;
}

.two {
  height: 100px;
  background-color: brown;
}

/*==================MEDIA QUERIES====================*/
@media screen and (min-width: 550px) {
  .happy-bunnies {
    background-color: purple;
    width: 90%;
  }
}


@media screen and (min-width: 450px){
  .sad-bunnies {
    height: 100px;
    background-color: red;
  }
}

@media screen and (min-width: 600px) {
  .okay-bunnies {
    height: 250px;
    background-color: #000;
  }
}

@media screen and (max-width: 450px) {
  .okay-bunnies {
    height: 400px;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .one {
    background-color: #555555;
    border: 4px solid #000;
  }
}

@media screen and (min-width: 375px) {
  .two {
    background-color: #333333;
    border: 5px dotted #000;
  }
}
